.menu-internas button {
  margin: 0 auto;
  padding: .5rem;
  font-weight: bold;
  width: 200px;
  background-color: #F4F4F4;
}

.menu-internas button:hover {

  background-color: #CDCCCC;
}

.panel-busqueda {

  margin: 0 auto;
  margin-top: 20px;
  width: 90%;
  border: thin solid black;
  height: 70vh;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;


}


.crear-estructura {
  margin-top: 15px;
  width: 50%;

}

.crear-estructura * {
  padding: 8px;

}

.crear-estructura button,
.insertar-registro button,
.buscar-clave button {
  margin-left: 5px;
  background-color: #1E66CB;
  border-radius: 3px;
  color: white;
  font-weight: bold;


}

.eliminar-clave button {
  color: white;
  background-color: #A00000;
  font-weight: bold;
}


.insertar-registro {
  margin-top: 15px;
  width: 80%;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}

.insertar-registro * {
  width: 50%;
  padding: 1px;
  margin-left: 5px;
  padding: 8px;
}


.buscar-clave {
  margin-top: 15px;
  width: 50%;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}

.buscar-clave * {
  width: 80%;
  padding: 8px;
  margin-left: 5px;
}


.eliminar-clave {
  margin-top: 15px;
  width: 50%;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}

.eliminar-clave * {
  width: 80%;
  padding: 8px;
}

.salida {
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: start;
  border: thin solid black;
  height: 480px;
}

.panel-estructura {
  width: 50%;
  height: inherit;
  overflow-y: auto;
  border-right: thin solid black;
}

.panel-estructura * {
  margin: 0 auto;
}


.panel-resultado-busqueda {

  height: inherit;
  width: 49.8%;

}


.panel-resultado-busqueda span {
  font-size: 20px;
  font-weight: bold;
}

.estructura-interna {
  margin-top: 10px;
  border-collapse: collapse;
  border: thin solid black;
  padding: 8px;
  width: 40%;
  font-size: 20px;

}



.invisible {
  display: none;
}