/* Estilos generales para formularios */
.menu-opciones {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px;
  border: thin solid #ccc;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  background-color: #f8f8f8;
  border-radius: 5px;
}

.menu-opciones * {
  margin-bottom: 15px;
}

/* Estilos para los botones */
.menu-opciones button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.menu-opciones button:hover {
  background-color: #0056b3;
}

/* Estilos para los campos de entrada */
.menu-opciones input[type="number"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.menu-opciones select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Estilos para etiquetas */
.menu-opciones label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Estilos para el contenedor de salida */
.salida {
  margin-top: 0.5rem;
  display: flex;
  flex-flow: row wrap;
  height: 50vh;
  width: 100%;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
}

/* Estilos para los paneles de estructura y resultado de búsqueda */
.panel-estructura,
.panel-resultado-busqueda {
  flex: 1 1 200px;
  border: thin solid #ccc;
  overflow: auto;
  max-height: 50vh;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.invisible{
  display: none;
}